﻿@model IEnumerable<string>
<table id="tableContent">
    @foreach (var doc in Model)
        {
            <tr>
                <td>
                    @doc
                </td>
            </tr>
        }
</table>