﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript" src="/Scripts/Index.js">

    </script>
}

<h2>Your properties for search: </h2>
@using (Ajax.BeginForm("Index", "Home", new AjaxOptions
                                                     {
                                                         HttpMethod = "POST",
                                                         InsertionMode = InsertionMode.Replace,
                                                         UpdateTargetId = "tableContent",
                                                         LoadingElementId = "progress"
                                                     }))
{

    <table>
        <thead><tr>
                   <th>Property name</th><th>Value</th><th></th>
               </tr></thead>
        <tbody data-bind="foreach: props">
            <tr>
                <td><select name="Property" data-bind="options: $root.availableProperties, value: Prop"></select></td>
                <td><input name="Value" data-bind="value: Val" /></td>
                <td><a href="#" data-bind="click: $parent.removeProperty">Remove</a></td>
            </tr>    
        </tbody>
    </table>

    <button class="btn" type="button"  data-bind="click: addProperty">Add another property</button>
    <br/>
    <button class="btn btn-primary" type="submit"  >Search</button>
}
<table id="tableContent"></table>

<div id="progress" style="display: none;">
<img src="~/Content/loading.gif" alt="loader" />
</div>
