﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Title">
    <meta name="author" content="">

    <!-- Le styles -->
    @Styles.Render("~/Content/themes/base/css", "~/Content/bootstrapcss")
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/apple-touch-icon-57x57.png">

    <!-- Le javascript ================================================== -->
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval","~/bundles/modernizr", "~/bundles/knockout", "~/bundles/bootstrapjs")
    @RenderSection("scripts", required: false)

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          @*<a class="brand" href="@Url.Action("Index", "Home")">Home Page</a>*@
          <div class="nav-collapse">
            <ul class="nav">
      @Html.Partial("_MenuLinks")
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    @*@Html.Partial("_Header")*@
    <div class="container">
      @RenderSection("featured", required: false)
      @RenderBody()
      @Html.Partial("_Footer")
    </div>

  </body>
</html>
